--extra-index-url https://download.pytorch.org/whl/cu118
accelerate
bitsandbytes
cached_path
click
deepmultilingualpunctuation
ema_pytorch
faster_whisper
funasr
fuzzywuzzy
gradio
imageio_ffmpeg
jieba
jiwer
librosa
matplotlib
moviepy
numpy
psutil
pydub
pypinyin
python-Levenshtein
safetensors
scipy
soundfile
spaces
thop
tomli
torch==2.3.0+cu118
torchaudio==2.3.0+cu118
torchdiffeq
tqdm
transformers
ultralytics_thop
vocos
wandb
x_transformers
zhconv
zhon
streamlit
opencv-python
streamlit-webrtc